<h1 mat-dialog-title>{{ actionType === 'concludeLoan' ? 'Concludi prestito' : 'Lascia una recensione' }}</h1>
<div mat-dialog-content>
  <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Rating</mat-label>
      <mat-select formControlName="rating" required>
        <mat-option *ngFor="let rating of ratings" [value]="rating">{{ rating }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Commento</mat-label>
      <textarea matInput formControlName="comment"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Invia</button>
    <button mat-button mat-dialog-close>Annulla</button>
  </form>
</div>
