<form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="register-form">
    <mat-form-field appearance="fill">
      <mat-label>Nickname</mat-label>
      <input matInput formControlName="nickname">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cognome</mat-label>
      <input matInput formControlName="surname">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Numero di telefono</mat-label>
      <input matInput formControlName="phoneNumber">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Conferma Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
      <mat-error *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">
        Conferma della password è richiesta.
      </mat-error>
      <mat-error *ngIf="registerForm.errors?.['mustMatch'] && registerForm.get('confirmPassword')?.touched">
        Le password non corrispondono.
      </mat-error>
    </mat-form-field>
    
  
    <mat-form-field appearance="fill">
      <mat-label>Comunità (Opzionale)</mat-label>
      <input matInput formControlName="community">
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Registrati</button>
    <p> Hai già un account? <a routerLink="/auth/login">Accedi</a></p>
  </form>
  