mat-grid-list {
    max-width: 1024px;
    margin: 0 auto;
}

mat-card {
    display: flex;
    flex-direction: column;
    width: 300px;
}

mat-card-header {
    align-items: center;
}

.mat-card-image {
    width: auto;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
    margin-top: 10px;
}

mat-card-content {
    flex-grow: 1;
}
  
.fab-button {
    display: block;
    bottom: 16px;
    right: 16px;
  }
  