<div class="container">
    <h2>Storico Prestiti</h2>

    <div *ngIf="loanHistory.length === 0" class="no-requests-message">
      Nessuna libro presente nello storico prestiti.
    </div>
  
    <div *ngFor="let loan of loanHistory" class="notification-item">
      <div class="detail-container">
        <p *ngIf="loan.lenderName === userData?.nickname"> <b>HAI PRESTATO QUESTO LIBRO:</b></p>
        <p *ngIf="loan.borrowerName === userData?.nickname"> <b>HAI PRESO IN PRESTITO QUESTO LIBRO:</b></p>
        <p> {{ loan.bookTitle }} ({{ loan.author }})</p>
        <p>Inizio prestito: {{ loan.startDate | date:'short' }}</p>
        <p>Fine prestito: {{ loan.endDate | date:'short' }}</p>
        <p>Proprietario: {{ loan.lenderName }}</p>
        <p>Prestatario: {{ loan.borrowerName }}</p>
        <p *ngIf="loan.borrowerReview">Recensione del prestatario: {{ loan.borrowerReview.rating }} stelle, "{{ loan.borrowerReview.comment }}"</p>
        <p *ngIf="loan.lenderReview">Recensione del proprietario: {{ loan.lenderReview.rating }} stelle, "{{ loan.lenderReview.comment }}"</p>
        <p *ngIf="!loan.borrowerReview">Recensione del prestatario: Nessuna recensione</p>
        <p *ngIf="!loan.lenderReview">Recensione del proprietario: Nessuna recensione</p>
      </div>
      <div class="notification-item-button-container">
        <button *ngIf="canLeaveReview(loan)" mat-raised-button color="primary" (click)="openReviewDialog(loan, 'submitReview')">
          Lascia una recensione
        </button>
      </div>   
    </div>
  </div>
  