
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.logo-login {
    width: 150px;
    margin-bottom: 40px;
    margin-top: 80px;
}

.registration-text {
    font-size: 16px;
    margin-top: 5px;
}

.half-content {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 50px;
}
